.container {
  width: 100vw;
  height: 100vh;
  display: flex;

  :first-child {
    width: 33vw;
    min-width: 33vw;
    max-width: 33vw;
  }

  .main {
    width: 67vw;
    min-width: 67vw;
    max-width: 67vw;

    .children {
      padding: 3rem 9rem;
    }
  }
}
