// Global SCSS variables

// COLORS
$primary: #7d1128;
$white: #fff;
$black: #1e2019;
$gray: #c8c7c7;
$light-gray: #f9f8f8;

$success: #62c370;
$warning: #e07a5f;
$error: #7d1128;

// FONT
$light: 200;
$normal: 400;
$bold: 600;
