@import "../../styles/variables";

.profile {
  padding: 3rem 12rem;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
  }
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    flex-direction: column;

    .buttons {
      width: 100%;
      margin-top: 1.5rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
