@import "../../styles/variables";

.nav {
  padding: 2.4rem 6rem;
  display: flex;
  justify-content: space-between;
}

.links {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.avatar-container {
  position: relative;

  cursor: pointer;
  $size: 3rem;
  width: $size;
  height: $size;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;

  .avatar {
    $avatar-size: 97%;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: all 0.45s ease-out;
  }

  .menu {
    z-index: 3;
    position: absolute;
    top: 4.5rem;
    right: 0;
    padding: 0.6rem 0;
    border: 0.015rem solid $light-gray;
    border-radius: 0.3rem;
    background-color: $white;
    list-style-type: none;

    .item {
      margin: 0;
      padding: 0.6rem 1.5rem;
      font-size: 0.9rem;
      font-weight: bold;
      white-space: nowrap;

      &:hover {
        background-color: $light-gray;
      }
    }

    .logout {
      margin-top: 0.6rem;
      border-top: 0.015rem solid $light-gray;
      color: $error;
    }
  }
}
